.tables {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.table {
  margin-top: 50px;
  display: block;
}

@media (max-width: 1024px) {
  .tables {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {
  .tables {
    grid-template-columns: repeat(1, 1fr);
  }
}
