.clacboxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.headers {
  text-align: center;
}
.form {
  margin: auto;
  
  text-align: center;
  font-size: 1.3em;
  width: 20em;
  height: 15em;
  position: relative;
  border-color: brown;
  border-style: solid;
}
.form label, input {
  width: 80%;
  text-align: center;
}

.bottom { 
  width: 100%;
  position: absolute; 
  bottom: 5px; 
}





#frmWadSet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}
#frmBlend {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}
.blend .bottom {
  margin: auto;
}

.frmBtn {
  margin-top: 5px;
  width: 48%
}


@media (max-width: 1375px) {
  .form {
    width: 16em;
  }
  .clacboxes {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 700px) {
  .form {
    width: 16em;
  }
  .clacboxes {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 400px) {
  .form {
    width: 15em;
  }
  .clacboxes {
    grid-template-columns: repeat(1, 1fr);
  }
}