#note {
  resize: none;
  line-height: 1.4;
  width: 100%;
  margin: 5px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

.form input, select, option {
  text-align: center;
  margin: 5px;
  width: 100%;
  font-size: 20px;
  height: 44px;
  text-align-last: center;
  border-radius: 10px; 
}

.form {
  text-align: center;
}
.frm {
  width: 25%;
  margin:auto;
}

.headers {
 text-align: center;
}
/* .notes {
  background-color: green;
} */

.button button {
  background-color: cornflowerblue;
  border: 1px solid green;
  color: white;
  padding: 10px 24px; 
  cursor: pointer; 
  width: 45%;
  margin: 5px;
  border-radius: 10px;
}

.button button:hover {
  background-color: #3e8e41;
}

.tables {
  margin-top: 30px;
}

.button .btntbl { 
  width: 25%;
}

@media (max-width: 1050px) {
  .form input, textarea, select, option {
  width: 70%;  
  }
  .button button {
  width: 35%;
  }
  .frm {
  width: 70%;
  margin:auto;
  }
  #note {
    width: 70%;
  }
  
  .button .btntbl { 
  width: 35%;
  }
}  

@media (max-width: 700px) {
  .form input, textarea, select, option {
  width: 90%; 
  }
  .frm {
  width: 100%;
  margin:auto;
  }
  .button button {
  width: 45%;
  }
  #note {
    width: 90%;
  }
  .supplier {
    font-size: 12px;
  }
  
  .button .btntbl { 
  width: 45%;
  }
}

