.container2 {
  width: 100%;
  /* margin: 0 auto; */
  /* display: grid; */
  /* grid-gap: 30px; */
  /* grid-template-columns: repeat(3, 1fr); */
}

.boxxes {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

#note {
  resize: none;
  line-height: 1.4;
  width: 80%;
  margin: 5px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

.form input,
select,
option {
  text-align: center;
  margin: 5px;
  width: 80%;
  font-size: 20px;
  height: 44px;
  text-align-last: center;
  border-radius: 10px;
}

.form {
  text-align: center;
}

.button button {
  background-color: cornflowerblue;
  border: 1px solid green;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  width: 40%;
  margin: 0px;
  border-radius: 10px;
}

.button button:hover {
  background-color: #3e8e41;
}

@media (max-width: 850px) {
  .container2 {
    /* grid-template-columns: repeat(2, 1fr); */
  }
  .boxxes {
    grid-template-columns: repeat(2, 1fr);
  }
  .form input,
  textarea,
  select,
  option {
    width: 70%;
  }
  .button button {
    width: 35%;
  }
  #note {
    width: 70%;
  }
}
@media (max-width: 700px) {
  .boxxes {
    grid-template-columns: repeat(1, 1fr);
  }
  .form input,
  textarea,
  select,
  option {
    width: 90%;
  }
  .button button {
    width: 45%;
  }
  #note {
    width: 90%;
  }
  .supplier {
    font-size: 12px;
  }
}
